<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.user">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.pass">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="login()">
      Login
    </button>
  </ion-content>
</ion-view>
