<ion-view view-title="Todo" xmlns="http://www.w3.org/1999/html">
  <ion-content>
     <ul class="list">
       <li class="item item-toggle">
         Offline - <b>{{!online}}</b>
         <label class="toggle toggle-assertive" ng-click="toggle()">
           <input type="checkbox" ng-checked="!online">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </li>
       <form ng-submit="add()">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="" ng-model="data.text">
          </label>
          <input type="submit" class="button button-small" value="Submit">
        </div>
       </form>
      <li class="item" ng-repeat="task in tasks">
        {{task.title}}
        <button style="float:right;" class="button button-small button-outline button-assertive" ng-click="remove(task._id)">
          DELETE
        </button>
      </li>
    </ul>
  </ion-content>
</ion-view>
