<ion-view view-title="Todo" xmlns="http://www.w3.org/1999/html">
  <ion-content>
     <ul class="list">
       <form ng-submit="add()">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="" ng-model="data.text">
          </label>
          <input type="submit" class="button button-small" value="Submit">
        </div>
       </form>
      <li class="item" ng-repeat="item in items">
        {{item}}
        <button style="float:right;" class="button button-small button-outline button-assertive" ng-click="remove($index)">
          DELETE
        </button>
      </li>
    </ul>
  </ion-content>
</ion-view>
